body{
    background-image: url(images.jpeg);
    color: azure;
    background-size: cover;
    text-align: center;
}
main{
    background-color: rgb(85, 85, 85);
    text-align: center;
    color: white;

    height: auto;
    border-radius: 20px;
    border-width: 2%;
    border-color: black;
    border-style: solid;
}
div{
    width: 300px;
}